<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/static/dist/semantic.min.css"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/toastr.min.css"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/core.css"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/dist/semantic.min.js"></script>
  <script src="/static/js/dropzone.min.js"></script>
  <script src="/static/js/toastr.min.js"></script>
  <script src="/static/js/modernizr.custom.js"></script>
  <script src="/static/js/classie.js"></script>
  <script src="/static/js/ace.min.js"></script>
  <script src="/static/js/setup.js"></script>
  <script src="/static/js/react.js"></script>
  <script src="/static/js/components.min.js"></script>

  <title>Node Chat</title>

	<style>
	  #chat {
      margin: 10px;
	  }
	  #sidebar {
      width: 400px;
	    position : fixed;
      top : 10px;
      right: 10px;
    }
	  .chatter {
      width: 100%;
      padding-right: 10px;
      margin-right: 10px;
      float: left;
      height: calc(100% - 60px);
      overflow-y: scroll;
	  }
	  .message-box {
      width: calc(100% - 450px);
      margin: 10px;
      position: fixed;
      bottom: 0;
	  }
  </style>

</head>

<body>
</body>

</html>
